{% extends 'base.html' %}

{% block content %}

    <div class="text-center">
        <div class="m-5">
            <h4>
                sign up
            </h4>
        </div>
        <div>
            <from action="{% url 'accountapp:create' %}" method="post">
                {% csrf_token %}
                {{ form }}
                <div class="m-5">
                <input type="submit" class="btn btn-dark rounded-pill px-5">

                </div>
            </from>
        </div>
    </div>

{% endblock %}0